
trigger: none


variables: 
  kds: '$(System.DefaultWorkingDirectory)/environment/dev'
  sub: 'a0366c1d-7e23-4176-93a9-0e084725b2d4'

parameters:
- name: environment
  displayName: Environment
  type: string
  default: prod
  values:
  - dev
  - qa
  - prod

jobs: 
- job: TerraformInit
  displayName: Terraform Init
  pool: My_pool

  steps:
  - task: TerraformInstaller@1
    displayName: Terraform Install
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(kds)'
      backendServiceArm: 'service_ado'
      backendAzureRmOverrideSubscriptionID: '$(sub)'
      backendAzureRmResourceGroupName: 'pintu11'
      backendAzureRmStorageAccountName: 'tattu102'
      backendAzureRmContainerName: 'con99'
      backendAzureRmKey: 'orange.terraform_state'

  - task: TerraformTask@5
    displayName: Terraform Fmt
    inputs:
      provider: 'azurerm'
      command: 'custom'
      workingDirectory: '$(kds)'
      outputTo: 'console'
      customCommand: 'fmt'
      environmentServiceNameAzureRM: 'service_ado'
      environmentAzureRmOverrideSubscriptionID: '$(sub)'

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(kds)'

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(kds)'
      environmentServiceNameAzureRM: 'service_ado'

- job: TFLint
  displayName: TFLint Scan
  dependsOn:  TerraformInit
  pool: My_pool

  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: |
        tflint --init
        tflint --recursive
      workingDirectory: '$(kds)'


- job: TFSec
  displayName: TFSec Scan
  dependsOn:  TFLint
  pool: My_pool

  steps:
  - task: tfsec@1
    inputs:
      version: 'v1.26.0'
      dir: '$(kds)'

- job: Infracost
  displayName: Infracost Scan
  dependsOn:  TFSec
  pool: My_pool

  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'infracost breakdown --path=tfplan --format=table'
      workingDirectory: '$(kds)'



- job: ManualValidation
  displayName: Manual Validation
  dependsOn:  Infracost
  pool: server

  steps:
  - task: ManualValidation@1
    inputs:
      notifyUsers: 'kapil@kapilsharmamgcgvvgmail.onmicrosoft.com'
      approvers: 'kapil@kapilsharmamgcgvvgmail.onmicrosoft.com'
      instructions: 'Approve'

- job: TerraformApply
  displayName: Terraform Apply
  dependsOn:  ManualValidation
  pool: My_pool

  steps:
  - task: TerraformInstaller@1
    displayName: Terraform Install
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(kds)'
      backendServiceArm: 'service_ado'
      backendAzureRmOverrideSubscriptionID: '$(sub)'
      backendAzureRmResourceGroupName: 'pintu11'
      backendAzureRmStorageAccountName: 'tattu102'
      backendAzureRmContainerName: 'con99'
      backendAzureRmKey: 'orange.terraform_state'


  # - task: TerraformTask@5
  #   displayName: Terraform Apply
  #   inputs:
  #     provider: 'azurerm'
  #     command: 'apply'
  #     workingDirectory: '$(kds)'
  #     environmentServiceNameAzureRM: 'service_ado'
  #     environmentAzureRmOverrideSubscriptionID: '$(sub)'

  # - task: TerraformTask@5
  #   displayName: Terraform Destroy
  #   inputs:
  #     provider: 'azurerm'
  #     command: 'destroy'
  #     workingDirectory: '$(kds)'
  #     environmentServiceNameAzureRM: 'service_ado'
  #     environmentAzureRmOverrideSubscriptionID: '$(sub)'