
trigger: none

pool: My_pool

variables: 
  kds: '$(System.DefaultWorkingDirectory)/environment/dev'
  sub: 'a0366c1d-7e23-4176-93a9-0e084725b2d4'

steps:
- task: TerraformInstaller@1
  displayName: Terraform Install
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(kds)'
    backendServiceArm: 'service_ado'
    backendAzureRmOverrideSubscriptionID: '$(sub)'
    backendAzureRmResourceGroupName: 'pintu11'
    backendAzureRmStorageAccountName: 'tattu102'
    backendAzureRmContainerName: 'con99'
    backendAzureRmKey: 'orange.terraform_state'

