
trigger:
  branches:
    include:
      - main
      - features101


pool: My_pool

variables:
  repo: 'environment/dev'
  server: '06f4c176-e41e-424a-bfc2-cb4b3a4e5fe5'

steps:
- task: TerraformInstaller@1
  displayName: Terraform Install
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(repo)'
    backendServiceArm: 'Secret_Service'
    backendAzureRmOverrideSubscriptionID: 'server'
    backendAzureRmResourceGroupName: 'pintu12'
    backendAzureRmStorageAccountName: 'tattu101'
    backendAzureRmContainerName: 'con99'
    backendAzureRmKey: 'orange.terraform_state'

- task: TerraformTask@5
  displayName: Terraform Validate
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(repo)'

- task: TerraformTask@5
  displayName: Terraform Fmt
  inputs:
    provider: 'azurerm'
    command: 'custom'
    workingDirectory: '$(repo)'
    outputTo: 'console'
    customCommand: 'fmt'
    environmentServiceNameAzureRM: 'Secret_Service'

- task: TerraformTask@5
  displayName: Terraform Plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(repo)'
    environmentServiceNameAzureRM: 'Secret_Service'

- task: TerraformTask@5
  displayName: Terraform Apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(repo)'
    environmentServiceNameAzureRM: 'Secret_Service'