
trigger:
  branches:
    include:
      - main
      - features101


variables:
  repo: 'environment/dev'
  server: '06f4c176-e41e-424a-bfc2-cb4b3a4e5fe5'

jobs:
- job: TerraformBuild
  displayName: Terraform Build
  pool: My_pool
  steps:
  - task: TerraformInstaller@1
    displayName: Terraform Install
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(repo)'
      backendServiceArm: 'Secret_Service'
      backendAzureRmOverrideSubscriptionID: 'server'
      backendAzureRmResourceGroupName: 'pintu12'
      backendAzureRmStorageAccountName: 'tattu101'
      backendAzureRmContainerName: 'con99'
      backendAzureRmKey: 'orange.terraform_state'

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(repo)'

  - task: TerraformTask@5
    displayName: Terraform Fmt
    inputs:
      provider: 'azurerm'
      command: 'custom'
      workingDirectory: '$(repo)'
      outputTo: 'console'
      customCommand: 'fmt'
      environmentServiceNameAzureRM: 'Secret_Service'

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(repo)'
      environmentServiceNameAzureRM: 'Secret_Service'

- job: ManualValidate
  displayName: Manual Validation Step
  dependsOn: TerraformBuild
  pool: server
  steps:
  - task: ManualValidation@1
    inputs:
      notifyUsers: 'kapil@kapilsharmamgcgvvgmail.onmicrosoft.com'
      approvers: 'kapil@kapilsharmamgcgvvgmail.onmicrosoft.com'
      instructions: 'Approve to continue'

- job:  TerraformApply
  displayName: Terraform Apply Step
  dependsOn: ManualValidate
  pool: My_pool
  steps:
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(repo)'
      backendServiceArm: 'Secret_Service'
      backendAzureRmOverrideSubscriptionID: 'Secret_Service'
      backendAzureRmResourceGroupName: 'pintu12'
      backendAzureRmStorageAccountName: 'tattu101'
      backendAzureRmContainerName: 'con99'
      backendAzureRmKey: 'orange.terraform_state'

  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(repo)'
      environmentServiceNameAzureRM: 'Secret_Service'
      environmentAzureRmOverrideSubscriptionID: 'server'