name: Terraform Azure Infra

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_VAR_subscription_id: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
      TF_VAR_tenant_id:       ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
      TF_VAR_client_id:       ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
      TF_VAR_client_secret:   ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}

    steps:
    - uses: actions/checkout@v4

    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - run: terraform init
      working-directory: environment/dev

    - run: terraform plan
      working-directory: environment/dev

    - run: terraform apply -auto-approve
      working-directory: environment/dev
