name: Terraform Azure Infra

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
      ARM_TENANT_ID:       ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
      ARM_CLIENT_ID:       ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
      ARM_CLIENT_SECRET:   ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}

      TF_VAR_subscription_id: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
      TF_VAR_tenant_id:       ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
      TF_VAR_client_id:       ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
      TF_VAR_client_secret:   ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      run: terraform init
      working-directory: environment/dev

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: environment/dev

    # - name: Terraform Destroy
    #   run: terraform destroy -auto-approve
    #   working-directory: environment/dev
